<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


<div class="container">
  <div class="alert alert-info text-center" role="alert">
  </div>
  <hr>

  <div class="row">
      <span>Last update = <%=localCache.lastUpdate%></span><br>
      <span>AUTH TOKEN  = <%=authToken%></span>
      <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Last Activity</th>
            <th scope="col">Last Message</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <%
          allInDb.forEach(function(match,i) {
              var found = localCache.currentMatches.get(match.id);
              var color = found?"green":"red";

              var lastActivity = match.last_activity_date;
              var name = match.person.name;
              var id = match.id;
              var photoUrl=match.person.photos[0].url;
              if( match.messages[0]){
                var lastMsg = match.messages[0].message;
              }else{
                  var lastMsg="";
              }
          %>
          <tr>
              <th scope="row"><%= i+1%></th>
              <td><img  src="<%= photoUrl %>" height="50" width="50"/> </td>
              <td style="color:<%=color%>"><a href="/detail?id=<%= id %> "> <%= name %></a></td>
              <td style="color:<%=color%>"><%=lastActivity %></td>
              <td style="color:<%=color%>"><i><%=lastMsg%></i></td>
              <td><span style="color:<%=color%>"><%=found?"":"UNMATCHED!"%></span></td>

          </tr>
          <% }); %>
          </tbody>
      </table>
  </div> <!-- row -->
</div>


</body>
</html>
